@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;451&display=swap');

*  {  /* ZERANDO MARGIN E PADDING NO INICIO DO CSS */
    padding: 0;
    margin: 0;
    box-sizing:content-box;
    font-family: "Lato", sans-serif ;
}
body {/* 
    background: url(./bck.jpg) center center fixed no-repeat ;
    background-size: cover;  */
    background-color: #f09820; 
}

ul {
    list-style: none;


}

a {  /* RETIRANDO SUBLINHADO DO HYPERLINK */
    text-decoration: none;
    transition: 200ms;
        color: initial;
}

a:hover{
    color: #CC0000;
    cursor: pointer;
    text-decoration: none;
}

/* CONTAINER FOTO */
.container{
    align-content: space-between;
    justify-content: center;
    background-color: #f09820;
}
#foto_perfil{
    padding: 75px;
    display: flex;
    justify-content: center;
}

#foto_perfil > img{   /* AFETANDO O IMG DENTRO DA ID foto_perfil*/
    border-radius: 50%;
}   

.name{
/*  padding: 15px;
    text-align: center;
    background-color: #fff;
    color: #f09820;
    width: 475px;
    height: auto;
    border-radius: 15px;
 */
    font-size: 25px;
    font-weight: bold;
    padding: 5%;
}
.job{
    font-size: 25px;
    font-weight: bold;
    
}
/* FINAL CONTAINER FOTO */

.container_social{
    justify-content: center;
}

/* CONTAINER REDES SOCIAIS */
.container_social ul li{
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 auto;
}


.social a img{
    width: 10%;
    
}
