@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;451&display=swap');

*  {  /* ZERANDO MARGIN E PADDING NO INICIO DO CSS */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif ;
}

ul {
    list-style: none;


}

a {  /* RETIRANDO SUBLINHADO DO HYPERLINK */
    text-decoration: none;
    transition: 200ms;
    color: initial;
}

a:hover{
    color: #CC0000;
    cursor: pointer;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
}

.container_social{
    justify-content: center;
}

.container_social ul li{
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 auto;
}


.social a img{
    width: 10%;
    display: ;
}

#foto_perfil > img{   /* AFETANDO O IMG DENTRO DA ID foto_perfil*/
    border-radius: 50%;
}   

.profissao{
    padding: 1em;
    text-align: center;
    
}
.profissao:hover{
    font-weight: bold;
    
}